<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Edit
			{{gal.title}}</title>
		<link rel="stylesheet" href="../../data/style/sass/newGall.css">
	</head>
	<body>

		 {% if conn %}
		<div id="container">
			<div id="header">
				<h1>Edit Gallery «{{gal.title}}»</h1>
				<form id="addImg" action="/gallery/edit" method="post" enctype="multipart/form-data">
					<input type="hidden" name="id_gal" value={{gal.id_gal}}>
					<label for="name">New title:
					</label>
					<input type="text" id="name" name="title" placeholder="Name" value="{{ gal.title }}" required>
					<div id="radio">
						<input type="radio" class="radio" name="groupe-radio" value="public" {% if gal.private == 0 %} checked {% endif %}>Public
						<input type="radio" class="radio" name="groupe-radio" value="private" {% if gal.private == 1 %} checked {% endif %}>Private
					</div>
                    <label for="newuser">Users with access:</label>
				<div id="divuser">
					<p>{{ gal.groups1 }}</p>
					<input type="text" id="newuser" name="user" placeholder="New User">
					<input type="button" value="+" name="add_username">
				</div>
				<input type="submit" id="submit" value="Edit">
                <input type="button" id="cancel" onclick="window.location.href = '/'" value="Cancel">
                {# <input type="button" id="delete" onclick="window.location.href = '/gallery/delete/{{gal.id_gal}}';" value="Delete" /> #}
			</form>

		</div>
	</body>
</div>
{% else %}
<p>Vous n'êtes pas connecté</p>
{% endif %}
<script src="../data/scripts/createGallery.js"></script>
</body>
</html>
