<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../data/style/normalizer.css">
    <link rel="stylesheet" href="../data/style/sass/gallery.css">
    <link rel="stylesheet" href="../data/style/sass/log.css">
    <link rel="stylesheet" href="../data/style/sass/sign.css">
    <link rel="stylesheet" href="../data/style/sass/miniGal.css">


</head>
<body>

<div id="menu">
    <p id="title">Image Gallery</p>
    {% if conn %}
        <a id="myGal" href="/gallery">My gallery</a>
    {% endif %}
    <div id="login">
        {% if conn %}
            <a id="newGal" href="/gallery/create">New Gallery</a>
            <input id="searchbar" type="text">
            <p>Hello {{ name }}</p>

            <a id="logout" href="/logout">Logout</a>
        {% else %}
            <a id="loginBut">Login</a>

            <a id="signup">Register</a>
        {% endif %}
    </div>
</div>

<div id="content">

    {% if conn %}
        {% for GalleryPr in galleryPr %}
            <div class="galleryPr">
                <a href="/gallery/{{ GalleryPr.id_gal }}">
                    <img src="{{ Gallery.img }}" alt="1">
                    <p>{{ GalleryPr.title }}</p>
                </a>
                {% if conn %}
                <a href="gallery/edit/{{ GalleryPr.id_gal }}">Edit</a>
                {% endif %}
            </div>
        {% endfor %}
        {% for GalleryPu in galleryPu %}

            <div class="galleryPu">
                <a href="/gallery/{{ GalleryPu.id_gal }}">
                    <img src="{{ Gallery.img }}" alt="2" width="600" height="400">
                    <p>{{ GalleryPu.title }}</p>
                </a>
                {% if conn %}
                <a href="gallery/edit/{{ GalleryPu.id_gal }}">Edit</a>
                {% endif %}
            </div>

        {% endfor %}


    {% else %}
        {% for GalleryPu in galleryPublic %}
            <div class="galleryPu">
                <a href="/gallery/{{ GalleryPu.id_gal }}">
                    <img src="{{ Gallery.img }}" alt="2" width="600" height="400">
                    <p>{{ GalleryPu.title }}</p>
                </a>
                {% if conn %}
                    <a href="gallery/edit/{{ GalleryPu.id_gal }}">Edit</a>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

</div>
<div id="footer">
    <p id="txtFooter">© ALED. All Rights Reserved. <a href="/about">About</a></p>
</div>

<div id="popup" class="popup" hidden>
    <div id="Llog">
        <h1>Log In</h1>

        <form id="Llogin" method="post" action="/login">
            <input type="text" class="Ltxt" placeholder="Name" name="name"/>
            <input type="password" class="Ltxt" placeholder="Password" name="password"/>


            <input type="submit" id="Lsubmit" class="Lsub" value="Log In"/>
            <input type="button" id="cancelLogin" class="Lsub" value="Cancel"/>
        </form>

        {% if errorLogin != "" %}
            <div class="Lerror" id="errorLog">{{ errorLogin }}</div>
        {% endif %}
    </div>
</div>


<div id="popup2" class="popup" hidden>
    <div id="Slog">
        <h1>Create an account</h1>
        <form id="Slogin" method="post" action="/signup">
            <input class="Stxt" type="text" placeholder="name" name="name"/>
            <input class="Stxt" type="text" placeholder="firstname" name="firstname"/>
            <input class="Stxt" type="text" placeholder="pseudo" name="username"/>
            <input class="Stxt" type="password" placeholder="Password" name="password"/>
            <input class="Stxt" type="password" placeholder="Repeat Password" name="password_confirm"/>
            <input type="submit" id="Ssubmit" class="Ssub" value="Create an account"/>
            <input type="button" id="cancelSignup" class="Ssub" value="Cancel"/>
        </form>
        {% if errorSignup != "" %}
            <div class="Serror" id="errorSign">{{ errorSignup }}</div>
        {% endif %}
    </div>
</div>


<script src="../data/scripts/popup.js"></script>
</body>
</html>